<h1>Players</h1>
<table>
  <tr>
    <th>Name</th>
    <th>#</th>
    <th>Pos</th>
    <th>GP</th>
    <th>G</th>
    <th>A</th>
    <th>Hits</th>
    <th>SOG</th>
    <th>PIM</th>
  </tr>
 
<% @skaters.each do |skater| %>
  <tr>
    <td><%= skater.name %></td>
    <td><%= skater.number %></td>
    <td><%= skater.position %></td>
    <td><%= skater.number_of_games %></td>
    <td><%= skater.goals %></td>
    <td><%= skater.assists %></td>
    <td><%= skater.plus_minus %></td>
    <td><%= skater.hits %></td>
    <td><%= skater.shots_on_goal %></td>
    <td><%= skater.penalty_minutes %></td>
    <td><%= link_to 'Show', skater %></td>
    <td><%= link_to 'Edit', edit_goaltender_path(skater) %></td>
    <td><%= link_to 'Remove', skater, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<table>
  <tr>
    <th>Name</th>
    <th>#</th>
    <th>GP</th>
    <th>W</th>
    <th>L</th>
    <th>SA</th>
    <th>S%</th>
    <th>GA</th>
    <th>GAA</th>
    <th>SO</th>
  </tr>
<% @goaltenders.each do |goaltender| %>
  <tr>
    <td><%= goaltender.name %></td>
    <td><%= goaltender.number %></td>
    <td><%= goaltender.games_played %></td>
    <td><%= goaltender.win %></td>
    <td><%= goaltender.losses %></td>
    <td><%= goaltender.shots_against %></td>
    <td><%= goaltender.save_percentage %></td>
    <td><%= goaltender.goals_against %></td>
    <td><%= goaltender.goals_against_average %></td>
    <td><%= goaltender.shutouts %></td>
    <td><%= link_to 'Show', goaltender %></td>
    <td><%= link_to 'Edit', edit_player_path(goaltender) %></td>
    <td><%= link_to 'Remove', goaltender, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>